@import "../../shared/styles/variables.scss";

.section {
  background-color: $bg-secondary;
  padding: 100px 0;

  .wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
    color: white;

    .services-header {
      text-align: center;
      position: relative;
      z-index: 100;
      background-color: #131313;

      .logo {
        width: 200px;
        height: 200px;
        background-image: url(../../../assets/images/logo.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: auto;
      }

      h1 {
        font-size: $size-xxl;
        font-weight: bold;
      }

      p {
        width: 40%;
        margin: 30px auto;
        font-size: $size-md;
        color: $secondary-color;
        line-height: 24px;
      }
    }

    .services {
      padding: 25px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 30px;
    }
  }
}
