.wrapper {
  width: 150px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;

  @media (max-width: 768px) {
    display: none;
  }

  .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #262626;
  }
}
