@import "../../shared/styles/variables.scss";

.home {
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 1500px;
    height: 200px;
    background-color: gray;
    opacity: 0.1;
    transform: rotate(45deg);
    position: fixed;
    right: -300px;
    top: 0;
  }

  &::before {
    content: "";
    display: block;
    width: 600px;
    height: 200px;
    background-color: lightgray;
    opacity: 0.1;
    transform: skew(65deg, 45deg);
    position: fixed;
    right: 370px;
    top: 100px;
  }

  app-dots {
    display: block;
    position: absolute;
  }

  .slogan-description {
    color: white;
    width: 100%;
    max-width: 800px;
    padding: 100px;

    h1 {
      font-size: 64px;
      font-weight: bold;
      margin-bottom: 30px;
      position: relative;
      z-index: 1;
      animation: header 1s linear;
    }

    p {
      margin-left: 100px;
      font-size: $size-lg;
      line-height: 30px;
      color: gray;
      animation: description 1s linear;
    }
  }
}

@keyframes header {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes description {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
